<article id="<%= post.layout %>-<%= post.slug %>"
         class="<%= post.layout %>-<%= post.slug %> post type-post status-publish format-standard hentry">
    <!--<%- partial('post/gallery') %>-->

    <header class="entry-header">
        <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% } %>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
            <a href="<%= post.permalink %>" class="more-link"><%= theme.excerpt_link %> <span class="meta-nav"></span></a>
        </p>
        <% } %>
        <% } else { %>
        <%- post.content %>
        <% } %>
    </div><!-- .entry-content -->

    <footer class="entry-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <% if (post.excerpt && index) { %>
        <div class="comments-link">
            <% if (post.comments && theme.changyanAppId){ %>
            评论：<span id = "sourceId::<%= post.permalink %>" class = "cy_cmt_count" ></span>
            阅读：<span id = "sourceId::<%= post.permalink %>" class = "cy_cmt_participate" ></span>
            &nbsp;<a href="<%= post.permalink %>#comments" class="leave-reply" style="color: rgb(81, 165, 168);"><%= theme.reply %></a>
            <% }%>
        </div><!-- .comments-link -->
        <% }else{%>
        <p>本文永久链接：<a href="<%= post.permalink %>"> <%= post.permalink %></a></p>
        <% }%>
    </footer>
</article>

<% if (!index){ %>
<%- partial('post/nav') %>
<% } %>
<%- partial('comment') %>