<article id="<%= post.layout %>-<%= post.slug %>"
         class="<%= post.layout %>-<%= post.slug %> post type-post status-publish format-standard hentry">
    <!--<%- partial('post/gallery') %>-->

    <header class="entry-header">
        <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% } %>
    </header><!-- .entry-header -->

    <div class="entry-content">
        <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more" class="more-link"><%= theme.excerpt_link %> <span class="meta-nav">→</span></a>
        </p>
        <% } %>
        <% } else { %>
        <%- post.content %>
        <% } %>
    </div><!-- .entry-content -->

    <footer class="entry-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <% if (post.excerpt && index) { %>
        <div class="comments-link">
            <% if (post.comments && theme.changyanAppId){ %>
            评论：<span id = "sourceId::<%= post.permalink %>" class = "cy_cmt_count" ></span>
            阅读：<span id = "sourceId::<%= post.permalink %>" class = "cy_cmt_participate" ></span>
            <script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=<%= theme.changyanAppId %>">
            </script>
            &nbsp;<a href="<%- url_for(post.path) %>#comments" class="leave-reply" style="color: rgb(81, 165, 168);"><%= theme.reply %></a>
            <% } %>
        </div><!-- .comments-link -->
        <% }%>
        <% if (post.excerpt && index){ %>
        <% if (theme.excerpt_link){ %>
        <span id="<%= post.permalink %>" class="cy_cmt_count"></span>
        <% } %>
        <% } %>
    </footer>
</article>

<% if (!index){ %>
<%- partial('post/nav') %>
<% } %>
<%- partial('comment') %>