<header id="masthead" class="site-header" role="banner">
    <hgroup>
      <h1 class="site-title">
        <a href="<%= config.url %>" title="<%= config.title %>" rel="home"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 class="site-description">
          <a href="<%= config.url %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } else { %>
        <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js"></script>
        <h2 class="site-description"><script>lwlhitokoto();</script></h2>
      <% } %>
        <!--一言API。貌似已经失效了-->
    </hgroup>

    <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">菜单</button>
            <a class="assistive-text" href="/#content" title="跳至内容">跳至内容</a><!--TODO-->
            <div class="menu-main-container">
                <ul id="menu-main" class="nav-menu">
                <% for (var i in theme.menu){ %>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= config.url+theme.menu[i] %>"><%= i %></a></li>
                <% } %>
                </ul>
            </div>
    </nav>
</header>